<%- include ("./partials/header") %>

<h1 style="text-align: center; color: blue;">Log In</h1>
<div class="container">
	<form action="/login" method="POST">
		<div>
		<label for="username"> Username:
			<input type="text" id="username" class="form-control" name="username" placeholder="username" required size="40">
		</label>	
	</div>
		<div>
		<label for="password"> Password:
			<input type="password" id="password" class="form-control" name="password" placeholder="password" required size="40">
		</label>	
	</div>
	<div>
		<label>
			<input class="form-control btn btn-primary" type="submit" value="SUBMIT">
		</label>	
	</div>
</form>
</div>

<%- include ("./partials/footer") %>